th {
    font-weight: bold;
}
.mat-card-section {
    margin: 5%;
}
.mat-tooltip-class {
    color: gray;
}
img {
    width: 40px;
    height: 25px;
    border-radius: 5px;
}
.table {    
    overflow-x: auto;
}
.button-class {
    text-align: right;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.form-button {
    color: rgb(19, 19, 101);
    font-weight: bold;
}
